@import "profile";
@import "panel";

$primary-color: green;
$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: #ffffff;
$buttonColor: #ffffff;
$buttonPadding:5px;
$buttonBackground: green;

h1 {
    color: blue;
}

.button {
    color:$buttonColor;
    padding: $buttonPadding;
    background: $buttonBackground;
    border-radius: 8px;
    text-decoration: none;
}

.jumbo-button {
    @extend .button;
    padding: $buttonPadding + 10px;
}

.light-button {
    @extend .button;
    background-color: $buttonBackground * 1.5;
}

p {
    font-size: 24px;
    color: $hover-color;
}
nav {
    ul {
        background-color: $bg-color;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }

    a {
        color: $text-color;
        display: inline-block;
        padding: 10px 16px;
        text-decoration: none;
    }
    a:hover {
        background-color: $hover-color;
    }
}
